h1{
    text-align: center;
   
   
}
.DPI{
    color: red;
    text-decoration: underline;
}
h2{
     background-color: rgb(80, 162, 255);
     color: white;
}
.fech{
    color: yellow;
}
body{
    background-color: rgb(96, 189, 196);
}